* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-group {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

